<table>
    <tr>
        <th style="color:blue">
            Thanjida Akhter
        </th>
    </tr>
    <tr>
        <th>  </th>
        <th>
            ID: 102-15-1030
        </th>
    </tr>
     <tr>
        <th>  </th>
        <th>
            Phone: 01922012111
        </th>
    </tr>
     <tr>
        <th>  </th>
        <th>
            Email: tanjida2002@gmail.com
        </th>
    </tr>
</table>