<table>
    <tr>
        <th style="color:blue">
            Prof. Dr. Syed Akhter Hossain
        </th>
    </tr>
    <tr>
        <th>  </th>
        <th>
            Professor and Head 
        </th>
    </tr>
     <tr>
        <th>  </th>
        <th>
           Department of Computer Science and Engineering (CSE)
        </th>
    </tr>
     <tr>
        <th>  </th>
        <th>
            Daffodil International University (DIU)
        </th>
    </tr>
</table>